.text-muted {
  color: color($colors, primary, base);
}

.list > .item-block:first-child {
  border-top: none;
}

.current-conditions {

  h3 {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}
