<ion-header>
  <ion-navbar>
    <ion-title>Weather Slayer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loaded" >
    <h5>Enter a zipcode below to search for the weather anywhere in the world.</h5>

    <ion-list>
      <ion-item>
        <ion-label floating>Change Location</ion-label>
        <ion-input type="number" name="zipcode" id="zipcode" [value]="zipcode" [(ngModel)]="postalCode" (keyup.enter)="searchWeather()"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full (click)="searchWeather()" [disabled]="!isValid()">Search</button>
  </div>

  <div padding-top padding-bottom *ngIf="currentConditions" class="text-center current-conditions" >
    <div>
      <img [src]="currentConditions.icon_url" alt="current conditions icon">
    </div>
    <small>{{ currentConditions.icon }}</small>
    <h3>{{ currentConditions.temp_f }} &deg;F</h3>
    <small>Feels Like {{ currentConditions.feelslike_f }} &deg;F</small>
  </div>
</ion-content>
